/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Gilroy Regular */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("Gilroy-Regular.woff2") format("woff2"),
    url("Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Gilroy Semibold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("Gilroy-Semibold.woff2") format("woff2"),
    url("Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* Gilroy Medium */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("Gilroy-Medium.woff2") format("woff2"),
    url("Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galien";
  src: local("Galien Regular"), local("Galien Regular"),
    url("Galien Regular.woff2") format("woff2"),
    url("Galien Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Gilroy;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #1f3f68;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

/* Header styles start */

.wrapper__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 48px;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  background: none;
  box-shadow: none;
  padding-bottom: 16px;
}

/* Header styles end */

/* Intro styles start */

.intro {
  background: white;
  height: 100vh;
  padding-left: 212px;
  padding-top: 189px;
}

.intro__title {
  max-width: 510px;
  font-size: 64px;
  line-height: 74px;
  color: #1f3f68;
  font-family: "Galien";
}

.intro__paragraf {
  max-width: 425px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy";
}
/* Intro styles end */
