/* Gilroy Regular */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy/Gilroy-Regular.eot") format("eot"),
    url("../fonts/Gilroy/Gilroy-Regular.ttf") format("ttf"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Gilroy Semibold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy/Gilroy-Semibold.eot") format("eot"),
    url("../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
/* Gilroy Medium */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot"),
    url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galien";
  src: local("Galien-Bold"), local("Galien-Bold"),
    url("../fonts/Galien/Galien-Bold.ttf") format("ttf"),
    url("../fonts/Galien/Galien-Bold.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
/* Header Style Start */
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.menu__burger {
  width: 24px;
  height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 16px;
}

.menu__burger span {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #356ead;
  transition: all 0.5s;
}

.menu__burger span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu__burger span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #ffefba;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.menu.active {
  transform: translateX(0);
}
.menu li {
  list-style-type: none;
}
/* Header Style end */

/* Intro Styles Start */

.intro {
  background-size: cover;
  background-image: linear-gradient(
    0deg,
    #98c3e8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.wrapper__intro {
  max-width: 1154px;
  margin: 0 auto;
}

.intro__title {
  font-family: "Galien";
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  max-width: 510px;
  padding-top: 189px;
  margin-bottom: 32px;
}

.intro__subtitle {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  max-width: 425px;
  margin-bottom: 71px;
}

.intro__btn {
  padding: 15px 48px;
  width: 220px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border: 0;
  color: white;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 190px;
}

.form__wrapper {
  max-width: 220px;
}

.bg__img {
  float: right;
  padding-top: 72.4px;
}
/* Intro Styles End */
